<ul class="nav mx-2">
  <li class="nav-item nav-pills">
    <a class="nav-link active bg-dark">Files</a>
  </li>
  <li class="nav-item" (click)="openNotes()">
    <a class="nav-link text-dark">Note Pad</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Calculator</a>
  </li>
  <li class="nav-item" (click)="openCal()">
    <a class="nav-link text-dark">Calendar</a>
  </li>
  <li class="nav-item" (click)="openSticky()">
    <a class="nav-link text-dark">Sicky Notes</a>
  </li>
</ul>
<div class="row justify-content-center">
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-simple-add text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Create</p>
              <p class="card-category">Edit</p>
              <p class="card-category">Cancel</p>
              <p class="card-category">Track</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr />
        <div class="stats"><i class="fa fa-refresh"></i>Click To Create</div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-primary">
              <i class="nc-icon nc-money-coins text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Payments</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr />
        <div class="stats"><i class="fa fa-calendar-o"></i> Last day</div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-success">
              <i class="nc-icon nc-globe text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Users Data</p>
              <p class="card-title">23</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr />
        <div class="stats"><i class="fa fa-clock-o"></i> Till 12:00 PM</div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-secondary">
              <i class="nc-icon nc-favourite-28 text-secondary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Customer Data</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr />
        <div class="stats"><i class="fa fa-refresh"></i>Refresh</div>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Incidents</p>
              <p class="card-title">23</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr />
        <div class="stats"><i class="fa fa-clock-o"></i> In the last hour</div>
      </div>
    </div>
  </div>
</div>

<section id="main-section">
  <div class="row m-0">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <div class="card-text">
            <h4 class="card-title text-center">Orders</h4>
            <p class="card-category text-center">
              New order received on 15th December, 2019
            </p>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-warning">
              <tr>
                <th>Date/Time</th>
                <th>Order Number</th>
                <th>Order Type</th>
                <th>Assigned To</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Dakota Rice</td>
                <td>datoka@gmail.com</td>
                <td>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Assigned To</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Divyansh Prateek</option>
                      <option>Akshay Singh</option>
                      <option>Anurag Sarkar</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Dakota Rice</td>
                <td>datoka@gmail.com</td>
                <td>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Assigned To</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Divyansh Prateek</option>
                      <option>Akshay Singh</option>
                      <option>Anurag Sarkar</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Dakota Rice</td>
                <td>datoka@gmail.com</td>
                <td>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Assigned To</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Divyansh Prateek</option>
                      <option>Akshay Singh</option>
                      <option>Anurag Sarkar</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Dakota Rice</td>
                <td>datoka@gmail.com</td>
                <td>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Assigned To</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Divyansh Prateek</option>
                      <option>Akshay Singh</option>
                      <option>Anurag Sarkar</option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h4 class="card-title text-center">Follow Up</h4>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <thead class="text-warning">
                <tr>
                  <th>Date/Time</th>
                  <th>Order Number</th>
                  <th>Order Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    12th November, 2019
                  </td>
                  <td class="img-row">
                    123434
                  </td>
                  <td class="text-left">
                    Grocery
                  </td>
                  <td class="td-actions text-right">
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Edit Task"
                    >
                      <i class="nc-icon nc-ruler-pencil"></i>
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Remove"
                    >
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
